@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #271549;
}


body {
    font-family: 'JetBrains Mono', monospace;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    text-shadow: 1px 1px #fff;
    margin-top: 10px;
    margin-left: 4 px;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

#navbar {
    background-color: var(--main-color);
    text-align: center;
    height: auto;
    width: 100%;
    box-shadow: 0px 1px 10px 10px #ddd;
    margin: 0;
}

#navbar>ul>li {
    display: inline
}

#navbar>ul>li>a {
    color: aliceblue;
    font-size: 26px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    transition: color 0.3 ease-in;
    padding: 0px 15px;
}

#navbar>a>img {
    padding-top: 2px;
}

#navbar>ul>li>a:hover {
    color: beige;
    border: 0.1px solid whitesmoke;
    border-radius: 5px;
}

#navbar>ul>li>a.link-active {
    color: burlywood;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        "Text-home Text-home Text-home"
        ". . .";
    place-items: center;
}


.Text-home {
    grid-area: Text-home;
    text-align: center;
    margin-bottom: 10%;
    color: #333;
}

.wrapper-campus {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "joke photo-nantes";
}

.joke-campus {
    grid-area: joke;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    /* margin-left: 10%;
    margin-right: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.joke-campus a {
    text-decoration: none;
}

.joke-campus a:hover {
    color: #333;
}


.photo-nantes {
    grid-area: photo-nantes;
}

#img-nantes {
    width: 100%;
}

@media (min-width: 800) {
    #img-nantes {
        width: auto;
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: lightsteelblue;
}

footer p {
    align-self: center;
}

footer #imgC {
    width: 10%;
}

footer #imgEPSI {
    width: 90%;
}

#porte-ouverte {
    display: flex;
    text-align: center;
    margin: 14%;
}

#flash {
    color: red;
    text-decoration: none;
}

#flash:hover {
    color: red;
    animation: none;
}

.admition {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "admission1"
        "admission2"
        "admission3";
}

.admition1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". .";
    grid-area: admission1;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
    background-color: grey;
    padding-left: 25%;
    padding-right: 25%;
    color: #fff;
}

.admition2 {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    grid-area: admission2;
}

.admition3 {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". .";
    grid-area: admission3;
}

.admition2 div {
    border: #333 1px dotted;
}

.admition2 h1 {
    color: var(--main-color);
    margin-bottom: 6%;
}

.admition2 h3 {
    color: var(--main-color);
    font-size: 24px;
}

.admition2 div a {
    margin-top: 10%;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.admition2 div a:hover {
    color: blueviolet;
}

.admition2 div p {
    font-size: 12px;
    margin: 6%;
}

.admition3 {
    color: var(--main-color);
}

.admition3 h3 {
    margin: 10%;
    font-size: 30px;
}

.admition3 p {
    margin: 10%;
    font-size: 18px;
}

.parcours {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "parcours1"
        "parcours2";
}

.parcours1 {
    grid-area: parcours1;
}

.parcours2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    grid-area: parcours2;
}

.parcours1 {
    margin-left: 2%;
}

.parcours2 {
    border: #333 1px dotted;
}

.parcours2 h2 {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.parcours2 p {
    margin: 2%;
}

.parcours {
    color: var(--main-color);
}

.perso {
    background: Silver;
    padding-top: 1em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0%;
    grid-template-areas:
        "GWEN OLIVER";
}

.Oliver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". imageO ."
        ". nomO .";
    grid-area: OLIVER;
}

.imageOliver {
    grid-area: imageO;
}

.nomOliver {
    grid-area: nomO;
}

.Gwen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". imageG ."
        ". nomG .";
    grid-area: GWEN;
}

.imageGwen {
    grid-area: imageG;
}

.nomGwen {
    grid-area: nomG;
}

.partie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0%;
    padding-top: 1em;
    padding-bottom: 1.7em;
    grid-auto-flow: row;
    grid-template-areas:
        "Gwen Oliver";
}

.partieG {
    grid-area: Gwen;
}

.partieO {
    grid-area: Oliver;
}